a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
}

.active {
    color: aqua;
}

.link {
    text-decoration: underline;
}

.navSidebar {
    grid-area: n;
    background-color: brown;
}

nav {
    display: flex;
    justify-content: center;
}

.mainMenuItem {
    list-style-type: upper-roman;
    color: pink;
}
