.mainMenuItem a:hover {
    color: yellow;
}

.link {
    text-decoration: underline;
}

.navSidebar {
    grid-area: n;
    background-color: lightgray;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.mainMenuItem a {
    color: white;
    text-decoration: none;
}

.mainMenuItem a.activeLink {
    color: green;
}
